/*
	Author:  S M SAMIUL HAQ;
	ID: 2011103642; 
	Project:  NSU Shuttle;

*/

*{
	font-family: Arial, Helvetica, sans-serif;
}

.page{
	background-color: #f1c40f;
}

/*CSS for Logo*/
.logo{
    background-color:white ;
    width: 16%;
    float: left;
    border: 10px white solid;
    border-right: 20px white solid;
}

/* CSS for Welcome text*/
.welcome-screen{
    background-image: url(../Images/Welcome_Image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    padding: 10%;

}

/*Welcome text after log in*/
.block h1{
    font: 24px sans-serif;
    text-indent: 10px;
    color: white ;
    background-color: #4267B2;
    width: 75%
    margin: auto;
    border: 5px solid white;
    border-right: 20px;

}


/*Log out button*/
button{
	color:#2f4f4f ;
	background-color: beige;
	text-decoration: underline;
	font-weight: bold;
	border: 5px 5px white solid;
}

/* CSS for Navigation bar*/

.nav_menu_block{
    background-color: #f0ffff;
    width:  100%;
    margin: auto;
    color: #2f4f4f;
    border:5px white solid;
    text-decoration: underline;
}

/*CSS for the Booking Form */
.form{
	width: 50%;
  	margin: 0 auto;
	border: 5px midnightblue double;
	padding: 20px 20px white solid;
	background-color: #ecf0f1;
}

.form label{
	background-color: azure;
	margin: auto;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
  	width: 100px;
	color: #2f4f4f;
	border: 5px 5px black solid;
	float: left;	
}

.form button{
	color:#2f4f4f ;
	background-color: #fffaf0;
	text-decoration: none;
	font-weight: bold;
	border: 5px 5px white solid;
	padding: 5px;
	text-align: centre;
	width: 200px;
	margin: 0 auto;
	float: none;
}

.butons{
   display:inline-block;
}

h3{
	font: 24px sans-serif;
    text-indent: 10px;
    color: black;

    margin: auto;
    border: 5px;
    border-right: 20px;
}
/*CSS For Booking Form Ends*/

/*CSS For Category STARTS*/
.category{
	background-color: #dfe4ea;
	border: 1px dotted black;
	padding: 2%;

}

.category a{
	color: #4267B2;
	text-decoration: none;
	font-size:20px ;
	font-family: sans-serif ;
	font-weight: bold;

}

.category ul{
    list-style-type: none;
}
.category ul li{

    display: inline;
    padding: 2%;
    font-weight: bold;
}

.category ul li a{
    color: #4267B2;

}

.category a:hover{
	color: #16a085;
}

.category a:active{
	color: cyan;
}

.category h3{
	text-decoration: underline;
}

/*CSS For Category Ends*/

/*CSS For Footer*/
.footer{
	padding: 1px;
	border: 1px black solid;
	background-color:#f0ffff ;
}

.container text-center{
	background-color:blueviolet;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.img-responsive{
    width: 100%;
}

.img-curved{
    border-radius: 10px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    text-decoration: none;
}

.btn{
    padding: 1%;
    border: none;
}

.btn-primary{
    background-color: silver;
}

h2{
    color:#222f3e;
    font-size: 2rem;
}

.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 0.5px;
    left:25%;
}

.menu{
    line-height: 20px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{

    display: inline;
    padding: 1%;
    font-weight: bold;
}

.menu ul li a{
    color: #0a3d62;


}

.menu ul li a:hover{
	color: #6c5ce7;
}

/* CSS for Features*/
.box1{
    width: 28%;
    float: left;
    margin: 2%;
}


